include README.md
include LICENSE.md
recursive-include VCA/static *.js *.css *.map *.png *.ico *.eot *.svg *.ttf *.woff *.woff2
recursive-include VCA/locale *.mo
global-exclude __pycache__
global-exclude *.py[co]